fastapi
uvicorn
pandas
numpy
transformers
pyshark
scikit-learn
python-multipart
pyarrow
darts
pytorch-lightning
# make sure you have CUDA 13.0 from Nvidia Installed
# seperately run the following according to your system:
# Windows-> pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu130
# Linux-> pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu130
# Mac-> pip3 install torch torchvision